name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
        targetos: [darwin, linux]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.6"
          check-latest: true
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}
      - run: make build
      - run: ./build/tacchaind --help
      - run: make install
      - run: tacchaind --help

  test-build-docker:
    runs-on: ubuntu-latest
    needs: test-build
    steps:
      - uses: actions/checkout@v4
      - uses: docker/build-push-action@v6
        with:
          context: .
          tags: tacchaind:latest
          load: true
          push: false
      - run: docker run --rm tacchaind:latest tacchaind --help

  # TODO: no longer works in github, commenting until fixed
  # test-localnet-liveness:
  #   runs-on: ubuntu-latest
  #   needs: test-build
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-go@v5
  #       with:
  #         go-version: "1.23.6"
  #         check-latest: true
  #     - run: make localnet &
  #     - run: while ! tacchaind query block --type=height 5; do sleep 5; done
  #       timeout-minutes: 2

  test-unit:
    runs-on: ubuntu-latest
    needs: test-build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.6"
          check-latest: true
      - run: make test
